.sidebar{
  position:fixed;
  width:200px;
  height:100%;
  left:-200px;
  background:#121219;
  z-index: 1;
}
.sidebar.active{
  left:0px;
}
.sidebar ul li{
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100,100,100,0.3);
}
a{
  color: rgba(230,230,230,0.9);font-size: 1.6rem;
}
.sidebar .fab{
  color:#1e8bc3;
  position:absolute;
  left:220px;
  top:10px;
  display:block;
  cursor:pointer;
  transition: .4s;
  font-size:3rem;
  }