.flip-cards {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 10px 17px -5px #b5afb5;
  -moz-box-shadow: 0px 10px 17px -5px #b5afb5;
  box-shadow: 0px 10px 17px -5px #b5afb5;
  height: 70vh;
  margin: 1rem;
  overflow: hidden;
  padding: 1rem;
  width: 70vh;
}

.codigo {
  overflow: hidden;
  padding: 1rem;
  background: #f5f5f5;
}

.codigo-copy {
  cursor: pointer;
  transition: 0.4s;
}
.codigo-copy:hover {
  transition: 0.4s;
  color: #22a7f0;
}

.identention {
  margin-left: 8%;
}

.btn-start {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  color: #fff !important;
  width: 15%;
  padding: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: 0.4s;
  border: 2px solid white;
  text-decoration: none !important;
}
.btn-start:hover {
  transition: 0.4s;
  background: white;
  width: 20%;
  color: #52b3d9 !important;
}

.float-button {
  align-items: center;
  bottom: 20px;
  -webkit-box-shadow: 3px 6px 17px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 6px 17px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 6px 17px -7px rgba(0, 0, 0, 0.75);
  border: none;
  background: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #000;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  height: 50px;
  line-height: 10px;
  overflow: hidden;
  outline: none !important;
  right: 3%;
  transition: 0.4s;
  position: fixed;
  width: 50px;
  z-index: 1;
}
.float-button .float-more {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: none;
  background: #333;
  overflow: hidden;
  margin: 2px;
  height: 6px;
  width: 6px;
}

#toggleButton:hover {
  transition: 0.4s;
  transform: scale(1.1);
}

#topButton {
  width: 35px;
  height: 35px;
  bottom: 19%;
  right: 6%;
}

#shareButton {
  width: 35px;
  height: 35px;
  bottom: 13%;
  right: 10%;
}

#likeButton {
  width: 35px;
  height: 35px;
  bottom: 20px;
  right: 11%;
}

.hidden {
  display: none;
}

.img-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.round {
  flex-flow: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  max-width: 100%;
  width: 50%;
}

html {
  scroll-behavior: smooth;
}

.nav-item .li-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  list-style: none;
}
.nav-item .li-item .link-item {
  color: #ffff;
  flex-shrink: 1;
  padding: 1rem;
  text-decoration: none;
}

.main-tour {
  height: 70vh;
  width: 100vh;
}

.tour__start {
  align-items: flex-start;
  display: flex;
  flex-flow: column wrap;
  margin-top: 10%;
}

.h1-jumbo {
  color: white;
  font-size: 5rem;
  font-weight: 100;
}

.hero-container {
  background: #7c1f9e;
  background: -webkit-linear-gradient(bottom left, #7c1f9e 0%, #7db9e8 100%);
  background: -o-linear-gradient(bottom left, #7c1f9e 0%, #7db9e8 100%);
  background: linear-gradient(to top right, #7c1f9e 0%, #7db9e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#7c1f9e", endColorstr="#7db9e8",GradientType=1 );
  -webkit-box-shadow: 3px 12px 23px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 12px 23px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 12px 23px -11px rgba(0, 0, 0, 0.75);
  height: 100vh;
}

/*# sourceMappingURL=css/style.css.map */
